
.form {  
    color:aliceblue;
    display: flex;

    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;

}

.card {
    display: flex;
    padding: 1rem;
    background-color: rgb(255, 255, 255);

}
.ico {
    border: 0px solid;
    align-items: center;
}