.deviceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
}

.deviceCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
}

.deviceInfo {
    color: #fff;
}

.ratingContainer {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.ratingText {
    font-size: 0.6rem;
    margin-top: -5px;
}

.deviceName {
    color: black;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.4rem;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.currentPrice {
    display: flex;
    color: #6b068a;
    font-size: 1.5rem;
}

.currencySymbol {
    color: #6b068a;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 0.25rem;
}

.oldPrice {
    display: flex;
    color: #ccc;
    font-size: 1rem;
    text-decoration: line-through;
}

.oldPriceCurrencySymbol {
    color: #ccc;
    font-weight: 600;
    font-size: 1rem;
}
