div {
    /* text-shadow:-1px -1px 1px rgba(255,255,255,0.2); */

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

button {
    font: inherit;
    font-weight: bold;
    color: #6b068a;
    background-color: transparent;
    /* margin-left: 0.25rem; */
}


.tip {
    font-size: 75%; 
    font-weight:600;
    color: #000000;
}

.tip:hover{
    color: #0dfd01;
}
