.dom {

    display: flex;
    background-color:rgb(255, 255, 255);
    /* flex-direction: column; */

    transition: 0.4s ease;
}

.pom {
    display: flex;
    height: 3rem;
    width: 10vw;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    font-size: 60%;
    font-weight: 600;
    color: rgb(37, 37, 37);
    transition: 0.4s ease;
}
.pom:after{
    padding-left: 2vw;
}
.pom:hover {
    width: 11vw;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    background-color:#e7e7e7;
    color: rgb(53, 53, 53);

}


.pom::after {
    margin: 400px;
}
.pom:visited { color: purple; }

.lom {
    display: flex;
    height: 3rem;
    width: 10vw;
    align-items: center;
    justify-content: space-around;
    background-color:#e7e7e7;
    padding: 1rem;
    font-size: 60%;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    color: rgb(59, 59, 59);
    transition: 0.2s ease;
}