.dom {

    display: flex;
    background-color:rgb(255, 255, 255);
    /* flex-direction: column; */

    transition: 0.4s ease;
}

.pom {
    display: flex;
    height: 3rem;
    width: 12vw;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    margin-right: 0vw;
    font-size: 60%;
    font-weight: 600;
    color: rgb(37, 37, 37);
    transition: 0.4s ease;
}

.pom:hover {

    align-items: center;
    width: 14vw;
    justify-content: center;
    border-radius: 0px;
    background-color:#eee;
    color: rgb(53, 53, 53);

}


.pom::after {
    margin: 400px;
}
.pom:visited { color: purple; }

.lom {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color:#000000;
    margin-right: 0vw;
    padding: 1rem;
    font-size: 87%;
    font-weight: 600;
    color: rgb(59, 59, 59);
    transition: 0.2s ease;
}